.cover {
   margin-top: 218px;
   max-width: 412px;
   display: flex;
   flex-direction: column;
   align-items: center;
   align-content: space-around;
}

.cover>h1 {
   font-family: Karla;
   font-style: normal;
   font-weight: bold;
   font-size: 31.25px;
   line-height: 37px;
   text-align: center;
   color: #293264;
}

.cover>p {
   margin-top: 7px;
   font-family: Inter;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 19px;
   text-align: center;

   color: #293264;
}

.form--cover {
   margin-top: 25px;
   max-width: 200px;
   height: 100px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.form--cover>select {
   margin-top: 10px;
   padding: 5px;
   border-radius: 10px;
}

.form--cover>button {
   margin-top: 29px;
   padding: 5px;
   width: 193px;
   height: 52px;

   background: #4D5B9E;
   border-radius: 15px;
   font-family: Inter;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   text-align: center;

   color: #F5F7FB;
}

.image-blob--top-right {
   position: absolute;
   top: 0;
   right: 0;
   z-index: -1;
}

.image-blob--bottom-left {
   position: fixed;
   bottom: 0;
   left: 0;
   z-index: -1;
}

.stat-container {
   margin-top: 50px;
   font-family: Inter;
   font-style: normal;
   line-height: 10px;
   color: #293264;
}

.stat-container>h4 {
   font-weight: bold;
   font-size: 10px;
}

.stat-container>ul {
   font-size: 9px;
}
