.form--quiz {
   margin: 75px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.form--quiz__fieldset {
   margin-bottom: 30px;
   border: none;
   border-bottom: 0.794239px solid #DBDEF0;
}

.form--quiz__paragraph {
   font-family: Karla;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 19px;
   color: #293264;
}

.form--quiz__list {
   display: inline-block;
   margin: 0 15px 15px 0;
}

.form--quiz__list>li {
   list-style-type: none;
   float: left;
   border: 1px solid #293264;
   border-radius: 7.9px;
   margin: 13px 13px 0 0;
}

.form--quiz__list>li:hover {
   background-color: #D6DBF5;
}

input[type=radio] {
   display: none;
}

label {
   padding: 10px;
   font-family: Inter;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 12px;
   text-align: center;
   vertical-align: baseline;
   color: #293264;
}

.form--quiz__submit-button-container {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.form--quiz__submit-button-container>button {
   margin-top: 25px;
   width: 120px;
   height: 35px;
   background: #4D5B9E;
   border-radius: 10px;
   font-family: Inter;
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 12px;
   text-align: center;

   color: #F5F7FB;
}

.form--quiz__paragraph-error {
   color: red;
   margin-bottom: 12px;
}
